/* Stylesheet for Annie's About Me page*/

#centerDweller {
  	width: 100px;
	height: 100px;	
	float: positioned;
	position: absolute;
	bottom: 50px;
	left: 40%;
}

header {
      background: url('../images/purple-squares.gif') no-repeat center fixed;
      text-align: center;
      background-size: cover;
      color: white;
      font-family: 'Aclonica', sans-serif;
      height: 220px;
      
    }

body {
       background: url('../images/retro.gif') no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

h1 {
      font-size: 60px;
      text-align: center;
      color: white;
      height: 180px;
/*      margin: 20px 0px 20px 0px;*/
      position: relative;
      top: 15px;
      
}

p {       
   text-align: justify;
   font-weight: bold;
   color: white;
}

a {
      color: white;
    }
    
li {
      display: inline;
      padding: 0px 20px 0px 20px;
      
    }

ul {
      padding: 10px;
      background: rgba(255, 255,255, .5);
      bottom: 0px;
      z-index: 1;

}

#hobbies {
     display: block;
     
}

article {
      background-color: rgba(255, 255, 255, 0.25);
      max-width: 600px;
      padding: 20px;
      margin: 0 auto;
}

.medals {
     height: 100px; 
     position:relative;
     display: inline;
     padding: 0;
}
    
#wrapper {
     height: 500px; 
     position:relative;
}

#bottomDweller {
     position: absolute; 
     bottom: 0px;
     left: 0px;
}

figcaption {
     font-size: 75%;
     color: white;
}


img {
       margin: 0px 0px 0px 0px;
    }
    

img#top_right {
       position: absolute;
       top: 0px;
       right: 0px;
       margin: 0 auto;
       border-radius: 20px;
       border: 1px solid white;
}    
        


*{
	margin:0px;
	}
#slider {
	height:300px;
	width:280px;
	margin: 50px auto;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	}
#image {
	height:300px;
	width:260px;
	position:absolute;
	}
.left_hold {
	height: 300px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 300px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:0px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
	}
.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:0.6;
	}
.right_hold:hover .right {
	opacity:0.6;
}
.left:hover .left1    
    
@media (max-width: 500px) {
      body {
        background: red; 
      }
      h1 {
       font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
    }


