/* Stylesheet for Annie's About Me page*/

header {
      text-align: center;
      background-size: cover;
      color: black;
      font-family: 'Aclonica', sans-serif;
    }

article {
       background-color: rgba(255, 255, 255, 0.25);
}

p {       
   text-align: justify;
   font-weight: bold;
   color: white;
}

a {
      color: white;
    }
    
li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }


body {
       background: url('retro.gif') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
   

h1 {
      font-size: 60px;
      text-align: center;
}

ul {
      padding: 10px;
      background: rgba(255, 255,255, .5);
}

article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
}
    
#wrapper {
     height: 500px; 
     position:relative;
}

#bottomDweller {
     position: absolute; 
     bottom: 0px;
     left: 0px;
}


#topDweller {
     position: absolute; 
     top: 0px;
     right: 0px;
     margin: 0 auto;
}

#centerDweller {
     position: absolute; 
     top: 50%;
     right: 50%;
     margin: 0 auto;
}

img {
       border: 1px solid white;
       border-radius: 20px;
       margin: 40px 0px 0px 0px;
    }
    

img#top_right {
       position: absolute;
       top: 0px;
       right: 0px;
       margin: 0 auto;
}    
        
    
    
    @media (max-width: 500px) {
      body {
        background: red; 
      }
      h1 {
       font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
    }


#slider {
	height:400px;
	width:650px;
	margin: 50px auto;
	position:relative;
	/*border-radius:4px;*/
	overflow:hidden;
	}
#image {
	height:400px;
	width:650px;
	position:absolute;
	}
.left_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.right_hold {
	height: 400px;
	width: 100px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.left {
	height:25px;
	width:25px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .1s ease-in-out 0s;
	}
.right {
	height:25px;
	width:25px;
	position:absolute;
	top:40%;
	right:20px;
	opacity:0;
	transition: all .1s ease-in-out 0s;
	}
.left_hold:hover .left {
	opacity:1;
	}
.right_hold:hover .right {
	opacity:1;
}
.left:hover .left1
